
  
    header{
     
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
  
        
  
        img{
          width: 50px;
          position: fixed;
        }
      
      }
      